@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="card">
    <div class="card-body" style="text-align:center">
        <h5 class="card-title"><span style="font-size:90%;font-weight:600">Bestil <i>Den ny Verdenskultur</i></span></h5>
        <div style="text-align:left">
            Du kan <a href="/dnv-bestilling/">bestille det nye nummer</a> af <i>Den ny Verdenskultur</i> og få det tilsendt med posten.
        </div>
    </div>
</div>